@import url(global.css);
body {
    margin: 0;
    font-family: Inter, system-ui, -apple-system, Segoe UI, Roboto, "Helvetica Neue", Arial;
    background: linear-gradient(180deg, #020617 0%, #071221 100%);
    color: var(--white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0.75rem;
    z-index: 30;
}
.brand {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    justify-content: center;
}
.brand img {
    height: 2.5rem;
    border-radius: 0.375rem;
}
.brand .subtitle {
    font-size: 0.75rem;
    color: var(--muted);
    /* margin-top: 2px; */
}
.nav {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px; */
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    padding: 0.625rem;
    border-radius: 1.125rem;
    box-shadow: var(--shadow);
    backdrop-filter: blur(0.375rem);
}
nav {
    /* margin-top: 0.8125rem; */
    padding: 0.3125rem 0;
    display: flex;
    justify-content: center;
}
nav div {
    width: 18.125rem;
}
nav a {
    color: var(--white);
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    border-radius: .625rem;
    font-weight: 600;
    font-size: 0.875rem;
}
/* nav a:hover,
.btn-primary:hover {
    background: #086e34;
} */
.cta-wa {
    background: var(--accent);
    color: #02120a;
    padding: 0.1875rem 0.625rem;
    border-radius: 0.625rem;
    font-weight: 700;
    text-decoration: none;
}
/* Hero - class do main */
.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.25rem;
    align-items: center;
    /* margin: 1.75rem 0; */
    /* background: black; */
}
.hero-left { padding: 0 0.7rem; }
.hero-left h1 {
    font-size: 1.75rem;
    margin: 0.375rem 0 0.75rem;
}
/* class dentro do main - o bloco que irá ficar do lado esquerdo com as informações */
.hero-left {
    color: var(--muted);
    margin: 0 0 1rem;
}
/* .badges {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
} */
.tag {
    display: inline-block;
    padding: 0.375rem 1rem;
    background: rgba(255, 255, 255, 0.03);
    border-radius: 62.4375rem;
    font-weight: 700;
    color: var(--muted);
    font-size: 0.8125rem;
    margin-top: 1.25rem;
}
.muted { color: var(--muted); }
.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.375rem 0.875rem;
    border-radius: 0.75rem;
    text-decoration: none;
    font-weight: 700;
}
.btn-primary {
    background: var(--accent);
    color: #02120a;
}
nav a:hover, .btn-primary:hover {
    background: #086e34;
}
.hero-left .btn-primary {
    animation: whats 1.1s ease-in-out infinite;
}

@keyframes whats {
    0%   { transform: rotate(0); }

    /* Primeiro ciclo */
    10%  { transform: rotate(-10deg); }
    15%  { transform: rotate(10deg); }
    20%  { transform: rotate(-10deg); }

    /* Segundo ciclo (duplicado) */
    30%  { transform: rotate(10deg); }
    35%  { transform: rotate(-10deg); }
    40%  { transform: rotate(10deg); }

    /* Fim */
    55%, 100% { transform: rotate(0); }
}

.btn-secondary {
    border: 0.0625rem solid rgba(255, 255, 255, 0.05);
    color: var(--white)
}
.btn-secondary:hover { background: rgb(2, 2, 2); }
/* card */
.card {
    background: var(--card);
    border-radius: 1rem;
    padding: 0.5rem;
    box-shadow: var(--shadow);
    border: 0.0625rem solid rgba(255, 255, 255, 0.03);
}
.small { font-size: 0.825rem; }
.transparente { 
    background: var(--shadow);
    height: 21.875rem;
}
.transparente video {
    height: 18.75rem;
}
/* Gallery grid */
.grid {
    display: grid;
    gap: 0.875rem;
}
.grid.cols-3 {
    grid-template-columns: repeat(1, 1fr);
    margin: auto;
}
.videos-scroll {
    display: flex;
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

.exibicao-video {
    min-width: 19rem; /* largura fixa → cria scroll */
    flex-shrink: 0;
}

.thumb {
    overflow: hidden;
    border-radius: 0.75rem;
    height: 21.25rem;
    /* background: #07202a; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15.625rem;
}
.thumb img {
    width: 100%;
    height: 95%;
    object-fit: contain;
    /* display: block; */
}
.thumb.card .muted {
    margin-top: 0.25rem;
}
#trabalhos, #videos, #valores, #about, #contact, #depoimentos, .footer {
    /* background: #086e34; */
    display: flex;
    flex-direction: column;
    padding: 0 0.7rem;
}
#trabalhos h2, #videos h2, #valores h2, #about h2, #contact h2, #depoimentos h2 {
    margin: 0;
}
.muted.small {
    margin: 0.3125rem 0;
    /* margin-left: 0.5rem; */
}
ul.muted.small {
    padding-left: 50px;
}
.contato {
    text-align: center;
}
/* .exibicao-video { width: 360px; } */
.video-wrap {
    /* aspect-ratio: 10/9; */
    background: #000;
    border-radius: 0.75rem;
    overflow: hidden;
    width: 18.75rem;
    margin: auto;
}
video {
    /* width: 100%;
    height: auto;
    display: block; */
    width: 100%;
    height: 16.25rem;
}
.pricing.over {
    /* display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px; */
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    gap: 1.875rem;
}
.price-card {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.02), rgba(255, 255, 255, 0.01));
    /* padding: 1rem; */
    border-radius: 0.75rem;
    border: 0.0625rem solid rgba(255, 255, 255, 0.03);
    min-width: 16.25rem;
}
.price-card h4 { margin: 0 0 0.5rem }
.price-card h4, .contratar, .price {
    margin-left: 20px;
}
.price-card .price {
    font-weight: 800;
    color: var(--accent);
    font-size: 1.125rem;
}
.price-card.card {
    height: 460px;
}
.price-card img {
    display: block;
    margin: 0 auto;
    width: 85%;
    height: 65%;
}
.footer {
    margin-top: 2.5rem;
    text-align: center;
}

footer .muted.small {
    padding: 0.625rem 0;
    margin: 0;
}

/* Custom Scroll */

::-webkit-scrollbar {
    width: 8px;
    background: #050C1C;
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover { background: #086e34; }

/* Responsivo */
@media (max-width: 767px) {
    .none {
        display: none;
    }
}

@media (min-width: 600px) {   
    /* ajustes para tablets pequenos */
    nav div {
        width: 100%;
        text-align: center;
    }

    .grid.cols-3 {
        grid-template-columns: repeat(2, 1fr);
    }

    .none {
        display: none;
    }
}

@media (min-width: 768px) {  
    /* ajustes para tablets maiores */
    .hero {
        grid-template-columns: repeat(2, 1fr);
    }

    .transparente {
        display: none;
        height: 30.875rem;
    }

    .none {
        display: block;
    }

    .transparente video {
        height: 29.875rem;
    }

    .redes {
        justify-content: flex-start !important;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .sobre {
        gap: 40px !important;
    }
}

@media (min-width: 1024px) {  
    /* ajustes para notebooks */
    .transparente {
        height: 26.875rem;
    }

    .transparente video {
        height: 25.875rem;
    }

    .grid.cols-3 {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1280px) {  
    /* ajustes para desktops */
}

@media (min-width: 1536px) {  
    /* ajustes para telas grandes */
}